<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title MYFORUM | Messenges
        link(rel='stylesheet' href='../../../../css/bootstrap.min.css')
        link(rel="shortcut icon", href="../../../../favicon.ico")
        link(rel='stylesheet' href='../../../../fonts/fonts.css')
        link(rel='stylesheet' href='../../../../css/messengesList.css')
    body
        nav.navbar.navbar-expand-lg.navbar-light.bg-light
            a.navbar-brand.logo(href='/home')
                span.logo-icon
                    img(src='../../../../img/logo-icon.svg' alt='icon')
                span.logo-text
                span MY
                | FORUM
            button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
                span.navbar-toggler-icon
        
            #navbarSupportedContent.collapse.navbar-collapse
                ol.breadcrumb
                    li.breadcrumb-item
                        a(href="/forum") Categories
                    li.breadcrumb-item
                        a(href='/forum/c/' + thm.categoryId._id) #{thm.categoryId.title}
                    li.breadcrumb-item.active(aria-current='page') #{thm.name}
                ul.navbar-nav.mr-auto.navul
                    li.nav-item
                        a.nav-link(href='/home') Home
                    li.nav-item.active
                        a.nav-link(href='/forum') Forum
                    li.nav-item
                        a.nav-link(href='../../../../doc/description.pdf') About
                if !sdata
                    form.form-inline.my-2.my-lg-0(name="authentfication")
                        input.form-control.mr-sm-2(type='login' placeholder='Login' name='login')
                        input.form-control.mr-sm-2(type='password' placeholder='Password' name='pass')
                        button.btn.btn-outline-success.my-2.my-sm-0(type='submit') Sign On
                        button.btn.btn-outline-primary.my-2.my-sm-0.btn-signin(type='button') Sign In
                else
                    a.nav-link(href="/users/cabinet") #{sdata.login}
        .container
            .row.firstRow
                .card.mb-3.mycard
                    .row
                        .col-lg-1.userAvatar
                            img.card-img(src='../../../../img/avatars/' + thm.create_userId.avatar alt="...")
                            a.aplogin(href="#")
                                p.plogin #{thm.create_userId.login}
                        .col-lg-11
                            .card-body.text-center.align-middle
                                h5.card-title.overflow-hidden #{thm.name}
                                p.card-text.overflow-hidden.contentTHM.text-justify #{thm.content}
                                p.card-text
                                    small.text-muted #{new Date(thm.create_date).toLocaleDateString()} | #{new Date(thm.create_date).toLocaleTimeString()}
            hr    

            each msg in msgs
                .row
                    .card.mb-3.mycard
                        .row
                            .col-lg-1.userAvatar
                                img.card-img(src='../../../../img/avatars/' + msg.create_userId.avatar alt="...")
                                a.aplogin(href="#")
                                    p.plogin #{msg.create_userId.login}
                            .col-lg-11
                                .card-body.text-center.align-middle
                                    p.card-text.overflow-hidden.contentTHM.text-justify #{msg.content}
                                    p.card-text
                                        small.text-muted #{new Date(msg.create_date).toLocaleDateString()} | #{new Date(msg.create_date).toLocaleTimeString()}
            .row.new-messege
            hr

            .row
                .card.mb-3.mycard
                    .row
                        form(name="create-messege" style="width: 100%;")
                            .col-lg-12
                                .form-group-row.card-body.text-center.align-middle
                                    textarea.form-control(id="exampleFormControlTextarea1" name="content_message" rows="5")
                                    input.form-control(type="text" name="themeId_message" disabled style="display: none;" value=thm._id)
                                    .form-group-row.card-text
                                        if !sdata
                                            input.form-control.btn.btn-outline-success.text-btn(data-toggle="autent" title="Please, sign in" data-content="Sign..." type="button" value="Send")
                                        else
                                            input.form-control.btn.btn-outline-success.text-btn(type="submit" value="Send")


        footer.py-1.bg-dark.text-white-50.fixed-bottom
            .container.text-center
                small Developer by Max Koroliov

        script(src='../../../../js/jquery-3.3.1.min.js')
        script(src='../../../../js/popper.min.js')
        script(src='../../../../js/bootstrap.min.js')
        script.
            $('form[name="authentfication"]').submit((e) => {
                e.preventDefault();
                let login = $('form[name="authentfication"]')[0].elements['login'].value;
                let pass = $('form[name="authentfication"]')[0].elements['pass'].value;
                if (login && pass) {
                    $.ajax({
                        url: "../../../../post/auth",
                        contentType: "application/json",
                        method: "POST",
                        data: JSON.stringify({
                            ulogin: login,
                            upass: pass
                        }),
                        success: (resdata) => {
                            document.querySelector('form[name="authentfication"]').outerHTML = '<a class="nav-link" href="/users/cabinet">'+resdata.login+'</a>';
                            document.querySelectorAll('[data-toggle]').forEach((ell) => {
                                ell.removeAttribute('data-toggle');
                                ell.removeAttribute('data-content');
                                ell.removeAttribute('title');
                            });
                        }
                    })
                }
            });

            $('form[name="create-messege"]').submit((e) => {
                e.preventDefault();
                let ucontent_message = $('form[name="create-messege"]')[0][0].value;
                let uthemeId_message = $('form[name="create-messege"]')[0][1].value;
                if (ucontent_message && uthemeId_message) {
                    $.ajax({
                        url: "../../../../post/addmessege",
                        contentType: "application/json",
                        method: "POST",
                        data: JSON.stringify({
                            content_message: ucontent_message,
                            themeId_message: uthemeId_message
                        }),
                        success: (resdata) => {
                            document.querySelector('.new-messege').outerHTML = `
                                <div class="row">
                                    <div class="card mb-3 mycard">
                                        <div class="row">
                                            <div class="col-lg-1 userAvatar">
                                                <img class="card-img" src="../../../../img/avatars/${resdata[1].avatar}" alt="user-avatar">
                                                <a class="aplogin" href="#">
                                                    <p class="plogin">${resdata[1].login}</p>
                                                </a>
                                            </div>
                                            <div class="col-lg-11">
                                                <div class="card-body text-center align-middle">
                                                    <p class="card-text overflow-hidden contentTHM text-justify">${resdata[0].content}</p>
                                                    <p class="card-text">
                                                        <small class="text-muted">${new Date(resdata[0].create_date).toLocaleDateString()} | ${new Date(resdata[0].create_date).toLocaleTimeString()}}</small>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row new-messege"></div>
                            `;
                            document.querySelector('textarea').value = '';
                        }
                    })
                }
            });

            //- $( () => $('[data-toggle="autent"]').popover() );

            document.querySelectorAll('ol li').forEach((e, i, arr) => (e.firstChild.textContent.length > 20) ? e.firstChild.textContent = e.textContent[0].toUpperCase() + e.textContent.slice(1, 20) + '...' : e.firstChild.textContent = e.textContent[0].toUpperCase() + e.textContent.slice(1));