<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title MYFORUM | #{thms[0].categoryId.title}
        link(rel='stylesheet' href='../../css/bootstrap.min.css')
        link(rel="shortcut icon", href="../../favicon.ico")
        link(rel='stylesheet' href='../../fonts/fonts.css')
        link(rel='stylesheet' href='../../css/themesList.css')
    body
        nav.navbar.navbar-expand-lg.navbar-light.bg-light
            a.navbar-brand.logo(href='/home')
                span.logo-icon
                    img(src='../../img/logo-icon.svg' alt='icon')
                span.logo-text
                span MY
                | FORUM
            button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
                span.navbar-toggler-icon
        
            #navbarSupportedContent.collapse.navbar-collapse
                ol.breadcrumb
                    li.breadcrumb-item
                        a(href="/forum") categories
                    li.breadcrumb-item.active(aria-current='page') #{thms[0].categoryId.title}
                ul.navbar-nav.mr-auto.navul
                    li.nav-item
                        a.nav-link(href='/home') Home
                    li.nav-item.active
                        a.nav-link(href='/forum') Forum
                    li.nav-item
                        a.nav-link(href='#') About
                if !sdata
                    form.form-inline.my-2.my-lg-0(name="authentfication")
                        input.form-control.mr-sm-2(type='login' placeholder='Login' name='login')
                        input.form-control.mr-sm-2(type='password' placeholder='Password' name='pass')
                        button.btn.btn-outline-success.my-2.my-sm-0(type='submit') Sign On
                        button.btn.btn-outline-primary.my-2.my-sm-0.btn-signin(type='button') Sign In
                else
                    a.nav-link(href="#") #{sdata.login}

        h1.display-4.text-center #{thms[0].categoryId.title}

        .container
            .row
                each thm in thms
                    .card.mb-3.mycard
                        a.mya(href='./' + thm.categoryId._id + '/t/' + thm._id)
                            .row.no-gutters
                                .col-md-2
                                    img.card-img(src="../../img/avatars/" + thm.create_userId.avatar alt="...")
                                .col-md-10
                                    .card-body.text-center
                                        h5.card-title.overflow-hidden #{thm.name}
                                        p.card-text.overflow-hidden.contentTHM #{thm.content}
                                        p.card-text
                                            small.text-muted #{thm.create_date}



        footer.py-1.bg-dark.text-white-50.fixed-bottom
            .container.text-center
                small Developer by Max Koroliov

        script(src='../../js/jquery-3.3.1.min.js')
        script(src='../../js/popper.min.js')
        script(src='../../js/bootstrap.min.js')
        script.
            document.querySelectorAll('ol li').forEach((e, i, arr) => e.firstChild.textContent = e.textContent[0].toUpperCase() + e.textContent.slice(1));
            document.querySelector('h1').textContent = document.querySelector('h1').textContent[0].toUpperCase() + document.querySelector('h1').textContent.slice(1);
        
            $('form[name="authentfication"]').submit((e) => {
                e.preventDefault();
                console.log($('form[name="authentfication"]')[0]);
                let login = $('form[name="authentfication"]')[0].elements['login'].value;
                let pass = $('form[name="authentfication"]')[0].elements['pass'].value;
                console.log(login);
                if (login && pass) {
                    $.ajax({
                        url: "../../post/auth",
                        contentType: "application/json",
                        method: "POST",
                        data: JSON.stringify({
                            ulogin: login,
                            upass: pass
                        }),
                        success: (resdata) => {
                            console.log(resdata);
                            document.querySelector('form[name="authentfication"]').outerHTML = '<a class="nav-link" href="#">'+resdata+'</a>';
                        }
                    })
                }
            });